/* ==== Google font ==== */
@import url('http://fonts.googleapis.com/css?family=Roboto:400,300');


body {
    width: 100%;
    height: 100%;
    font-family: 'Roboto', sans-serif;
	  font-weight: 300;
    color: #666;
    background-color: #fff;
}

html {
    width: 100%;
    height: 100%;
}

h1,h2,h3,h4,h5,h6 {
    margin: 0 0 30px;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
}

p {
    margin: 0 0 20px;
    font-size: 16px;
    line-height: 1.6em;
}

a {
    color: #28c3ab;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

a:hover,
a:focus {
    text-decoration: none;
    color: #176e61;
}


.logo-section {
    margin-bottom: 0;
    border-bottom: 1px solid rgba(255,255,255,.3);

}

/* ===========================
--- General sections
============================ */

.action-section {
    padding-top: 110px;
    padding-bottom: 110px;
	  display:block;
    position:relative;
    z-index:120;
}

/* ===========================
--- main-section
============================ */

.main-section {
	width:100%;
	position:relative;
	/* background: url('../img/bg1.jpg') no-repeat top center; */
    background: url('../img/vegas_strip.jpg') no-repeat top center; 
    background: url('../img/cardTable.jpg') no-repeat top center; 
    background: url('../img/vegas_strip_2.jpg') no-repeat top center; 
    background: url('../img/las_vegas_day.jpg') no-repeat top center; 
    background: url('../img/test.jpg') no-repeat top center; 
    background: url('../img/las-vegas-at-night.jpg') no-repeat top center; 
    /* background: gray no-repeat top center; */

    background-repeat:no-repeat;
    background-size:contain;
}

#main-section.main-section {
	padding:10% 0 0 0;
}

.main-section .slogan {
	text-align: center;
}

.main-section .page-scroll {
	text-align: center;
}

.brand-heading {
    font-size: 40px;
}

.main-section-text {
    font-size: 18px;
}

.main-section .slogan h2 {
	color: #FFF;
	text-shadow: none;
	font-size: 60px;
	line-height: 60px;
	font-weight: 700;
  font-family: 'Roboto', sans-serif;
	background-color: rgba(0, 0, 0, 0);
	text-decoration: none;
	border-width: 0px;
	border-color: #000;
	border-style: none;
	text-shadow: -1px 0 1px #000;
}

.main-section .slogan h4 {
	color: #fff;
	text-shadow: -1px 1px 1px #000;
}




/* ===========================
--- Footer
============================ */

footer {
	text-align: center;
	padding: 50px 0 ;

}

footer p {
	color: #f8f8f8;
}

/* ===========================
--- Elements
============================ */

.btn {
	border-radius: 0;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}



/* Media queries */

@media(min-width:767px) {

    .logo-section {
        padding: 20px 0;
        border-bottom: 0;
        letter-spacing: 1px;
        background: 0 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

    .top-nav-collapse {
        padding: 0;
        background-color: #000;
    }

    .logo-section-custom.top-nav-collapse {
        border-bottom: 1px solid rgba(255,255,255,.3);
    }

    .main-section {
        height: 100%;
        padding: 0;
    }

    .brand-heading {
        font-size: 100px;
    }


    .main-section-text {
        font-size: 25px;
    }


}
@media (max-width:768px) {

}

@media (max-width:480px) {


	.logo-section.logo-section-custom.logo-section-fixed-top {
		margin-bottom: 30px;
	}

	.tp-banner-container {
		padding-top:40px;
	}

}


/* From color */
a,.tp-caption a.btn:hover {
  color: #67b0d1;
}
.top-nav-collapse {
  background: #67b0d1;
}

body, footer {
    background-color: #67b0d1;
}

